[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CUDA Info"

[[workflows.workflow]]
name = "CUDA Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash info.sh"

[workflows.workflow.metadata]
outputType = "console"
